<div class="col-sm-6 col-md-4 col-md-offset-4">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        No se ha podido validar su cuenta con los datos suministrados
    </div>
</div>
