
@{
                /**/

                ViewBag.Title = "Login";
                Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/signin.css" rel="stylesheet" />
</head>

@using (Html.BeginForm("Menu", "Menu", FormMethod.Post, new { @class = "form-signin" }))
{
    <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
    <label for="inputUser" class="sr-only">Usuario</label>
    <input id="inputUser" class="form-control" placeholder="Usuario" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Acceder</button>
}
