.oculto{
    opacity: 0.0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}
.derecha{float:right}
.bs-callout-info h4 {
    color: #1b809e;
}
.codigo{
    width:100%;
}
.tab-pane {
    margin-top: 15px !important;
}
.webgrid-row-style {
    padding: 3px 7px 2px;
}

.webgrid-alternating-row {
    background-color: #a8e4f6;
    color:white;
    padding: 3px 7px 2px;
}
.webgrid-column-right {
text-align : right;
}

