@using MvcSiteMapProvider.Web.Html
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/images/Logo/logo2.png" />
        </div>
        <div class="col-md-10">
            <h1 class="display-3">Procedimiento de Asistencia para Entrevistas Técnicas</h1>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="pull-right"><span class="label label-primary">Bienvenido @User.Identity.Name</span></div>
    }
    <hr />
    <div class="row">
        @Html.MvcSiteMap().SiteMapPath()
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="pull-right"><button type="button" class="btn btn-default btn-md" onclick="location.href='@Url.Action("SignOut", "Login")'"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Cerrar Sesión </button></div>
    }
</div>

